<!-- template footer.html -->
	<div class="container-fluid">
		<div class="clearfix"></div>
			<footer id="ground">
				<div class="row-fluid add-top">
					<div class="span4">
						<a href="https://app.elorus.com/">Elorus</a> | <a href="https://www.elorus.com/terms-of-use/" target="_blank">Terms of use</a> | <a href="{% url 'index' %}">Q&amp;A forum</a> | <a href="{% url 'feedback' %}">Contact</a>
					</div>
					<div class="span8">
						<div class="pull-right text-right add-bottom">
							<div class="footer-text">
								© 2013.&nbsp;
								<a href="https://www.elorus.com/" target="_blank"><i class="icon-globe"></i> Elorus - eInvoicing &amp; Cash Flow Management</a><br>
								Current version: v1.0.0beta. All rights reserved
							</div>
							<a class="comodo-secure" title="Elorus.com is verified by Comodo" href="http://www.instantssl.com/" target="_blank"></a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>