<!-- template footer.html -->
	<div class="container-fluid">
		<div class="clearfix"></div>
			<footer id="ground">
				<div class="row-fluid add-top">
					<div class="span4">
						<a href="https://app.elorus.com/">Elorus</a> | Terms of use | <a href="https://forum.elorus.com/" target="_blank">Q&amp;A forum</a> | <a href="https://forum.elorus.com/feedback/?next=/feedback/" target="_blank">Contact</a>
					</div>
					<div class="span8">
						<div class="pull-right text-right add-bottom">
							© 2013.&nbsp;
							<a href="https://www.elorus.com/" target="_blank"><i class="icon-globe"></i> Elorus - eInvoicing &amp; Cash Flow Management</a><br>
							Current version: v1.0.0beta. All rights reserved
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>