<!-- template header.html -->
{% import "macros.html" as macros %}
<div id="header" class="{% if settings.SHOW_LOGO %}with-logo{% else %}without-logo{% endif %}">
    <div class="container-fluid">
        <div id="userToolsNav">
        	<a class="brand" href="/questions/">
				<i class="icon-comment icon-white"></i> Elorus Q&A forum
			</a> | 
			<a id="application-link" class="brand" href="https://app.elorus.com/" title="Elorus | eInvoicing &amp; Cash Flow Management Application">
				<i class="icon-globe icon-white"></i> Elorus Application
			</a>
			{% include "widgets/meta_nav.html" %}
        </div>
        {% if settings.SHOW_LOGO %}
            {% include "widgets/logo.html" %}
        {% endif %}
        <div id="metaNav">
            {% include "widgets/user_navigation.html" %}
        </div>
        <div class="clean"></div>
    </div>
</div>
<!-- end template header.html -->
