<!DOCTYPE html>
<html lang="en-us" >
	<head>
		<meta charset="utf-8">
		<title>Permission denied (code 403) | Elorus</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="https://static.elorus.com/app/static/img/elorus-favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="https://static.elorus.com/app/static/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="https://static.elorus.com/app/static/css/admin.css" />
		<link rel="stylesheet" type="text/css" href="https://static.elorus.com/app/static/css/elorus.css" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic-ext,cyrillic,greek,latin-ext">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script src="https://static.elorus.com/app/static/js/bootstrap.min.js"></script>
		<script src="https://static.elorus.com/app/static/js/finances-core.js"></script>
		<meta name="robots" content="NONE,NOARCHIVE" />
	</head>
	<body class="dashboard">
		<section class="hero-unit">
			<ul class="inline">
				<li>
					<a href="/">
						<i class="elorus-icon-full"></i>
					</a>
				</li>
				<li id="logged-out-header">
					<h1>Elorus application</h1>
					<p>Welcome to elorus. Please sign in to start invoicing and organize your finances.</p>
					<p>
					</p>
				</li>
			</ul>
		</section>
		<section id="main-content" class="row-fluid add-bottom">
			<div class="span10 offset1">
						<div class="box">
				<header class="page-header">
					<h3 class="title">Permission denied</h3>
					<strong>Do you feel like cheating today? :)</strong>
				</header>
				<p class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">×</button>
					<strong>Error code 403:</strong> You have not sufficient rights to visit this page.
				</p>
				<p>The Elorus system administrators have been notified about this incident.<br/>If you feel this is an error on our party, please let us know...</p>
				<p class="add-top">
					<a href="/" class="btn btn-primary"><i class="icon-home icon-white"></i> Elorus Q&A forum</a>
					<a href="https://forum.elorus.com/feedback/?next=/feedback/" class="btn btn-danger"><i class="icon-envelope icon-white"></i> Tell us more</a>  
				</p>
			</div>
			</div>
		</section>
		<div class="container-fluid">
			<footer id="footer" >
				<div class="row-fluid add-top">
					<div class="span4">
						<a href="https://app.elorus.com/">Elorus</a> | <a href="https://www.elorus.com/terms-of-use/" target="_blank">Terms of use</a> | <a href="https://forum.elorus.com/" target="_blank">Q&A forum</a> | <a href="https://forum.elorus.com/feedback/?next=/feedback/" target="_blank">Contact</a>
					</div>
					<div class="span8">
						<div class="pull-right text-right add-bottom">
							<div class="footer-text">
								&copy; 2013.&#xa0;
								<a href="https://www.elorus.com/" target="_blank"><i class="icon-globe elorus-globe"></i> Elorus - eInvoicing & Cash Flow Management</a><br/>
								Current version: v1.0.0beta. All rights reserved
							</div>
							<a class="comodo-secure" title="Elorus.com is verified by Comodo" href="http://www.instantssl.com/" target="_blank"></a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>